//SECTION INFO
.info {
  background-color: $footer-bgcolor;
  padding-top: 42px;
  padding-bottom: 32px;
}

// DIV(info__logo) -> SECTION INFO
.info__logo {
  margin-bottom: 18px;
}

.info__img {
  display: block;
  width: 100px;
}

// DIV(info__content) -> SECTION INFO
.info__address {
  margin-bottom: 30px;
}

.info__text {
  margin: 0px;
  font-family: $primary-font-text;
  font-size: 14px;
  line-height: 25px;
  color: #969aa8;
}

.info__contacts {
  margin-bottom: 34px;
}

.info__link {
  font-family: $primary-font-text;
  font-size: 14px;
  line-height: 25px;
  color: #969aa8;
  &:hover,
  &:focus {
    color: #fcae26;
  }
}

.info__btn {
  margin-bottom: 30px;
  max-height: 42px;
}

.info__icon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
  &:last-child {
    margin-right: 0px;
  }
  transform: scale(1);
  transition: transform 250ms linear;
  &:hover,
  &:focus {
    transform: scale(1.15);
  }
}

//SECTION COPYRIGHT
.copyright {
  background-color: $footer-bar-bgcolor;
  padding-top: 22px;
  padding-bottom: 24px;
}

.copyright__link {
  font-family: $primary-font-title;
  font-size: 12px;
  line-height: 25px;
  font-weight: 600;
  color: #626263;
  padding-bottom: 10px;
  &:last-child {
    padding-bottom: 0px;
  }
  &:hover,
  &:focus {
    color: #fcae26;
  }
}

@media screen and (min-width: 695px) and (max-width: 1299px) {
  //SECTION INFO
  .info {
    position: relative;
    padding-top: 56px;
    padding-bottom: 54px;
  }
  // DIV(info__logo) -> SECTION INFO
  .info__logo {
    margin-bottom: 26px;
  }

  // DIV(info__content) -> SECTION INFO
  .info__content {
    display: flex;
  }

  .info__address {
    margin-right: 45px;
    margin-bottom: 0px;
  }

  .info__contacts {
    margin-right: 44px;
    margin-bottom: 0px;
  }

  .info__aunt {
    padding-top: 6px;
  }

  .info__btn {
    margin-bottom: 20px;
  }

  .info__social {
    margin-left: 20px;
  }

  // DIV(info__up) -> SECTION INFO
  .info__up {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    top: -10%;
    left: 85%;
    box-shadow: 0 3px 5px rgba(8, 8, 8, 0.4);
    background-image: url('../images/footer/btn-footer.png');
    transform: scale(1);
    transition: transform 250ms linear;
    &:hover,
    &:focus {
      opacity: 0.8;
      transform: scale(0.9);
      box-shadow: 0 3px 5px 0 rgba(252, 174, 38, 0.4);
    }
  }

  //SECTION COPYRIGHT ***
  .copyright {
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .copyright__content {
    display: flex;
  }

  .copyright__link {
    margin-right: 36px;
    padding-bottom: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}

@media screen and (min-width: 1300px) {
  //SECTION INFO
  .info {
    position: relative;
    padding-top: 56px;
    padding-bottom: 50px;
  }

  // DIV(info__logo) -> SECTION INFO
  .info__logo {
    margin-bottom: 26px;
  }

  // DIV(info__content) -> SECTION INFO
  .info__content {
    display: flex;
  }

  .info__address {
    margin-right: 140px;
    margin-bottom: 0px;
  }

  .info__contacts {
    margin-right: 158px;
    margin-bottom: 0px;
  }

  .info__aunt {
    padding-top: 6px;
    display: flex;
  }

  .info__btn {
    margin-right: 158px;
  }

  .info__social {
    margin-left: 20px;
  }

  // DIV(info__up) -> SECTION INFO
  .info__up {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 55px;
    top: 85%;
    left: 90%;
    box-shadow: 0 3px 5px rgba(8, 8, 8, 0.4);
    background-image: url('../images/footer/btn-footer.png');
    transform: scale(1);
    transition: transform 250ms linear;
    &:hover,
    &:focus {
      opacity: 0.8;
      transform: scale(0.9);
      box-shadow: 0 3px 5px 0 rgba(252, 174, 38, 0.4);
    }
  }

  //SECTION COPYRIGHT
  .copyright {
    padding-bottom: 18px;
    padding-top: 18px;
  }

  .copyright__content {
    display: flex;
  }

  .copyright__link {
    margin-right: 74px;
    padding-bottom: 0px;
    &:last-child {
      margin-right: 0px;
    }
  }
}
