.hero-section {
  position: relative;
  height: 560px;
  padding-top: 16px;
  padding-bottom: 50px;
  background-color: #824fe3;
  background: center / cover no-repeat url(../images/header/banner_mobile.jpg);
  overflow: hidden;
}

.hero-wrapper {
  position: relative;
}

.nav-wrapper {
  padding: 0 20px;
  max-width: 2800px;
  margin: 0 auto;
}

.nav {
  display: flex;
}

.nav__logo {
  margin-right: auto;
  z-index: 3;
}

.nav__list {
  display: none;
}

.nav__list--popup {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 560px;
  background-color: #824fe3;
  z-index: 2;
}

.nav__list--popup .nav__item:not(:first-child) {
  margin-top: 16px;
}

.nav__item {
  padding-right: 17px;
  padding-left: 17px;
}

.nav__link {
  color: $primary-bgcolor;
  font-size: 18px;
  font-weight: 700;
}

.nav__link::after {
  display: block;
  content: '';
  background-color: $accent-color;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6px;
  width: 100%;
  height: 2px;
  opacity: 0;
}

.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 1;
}

.menu-icon-wrapper {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.menu-icon {
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #fff;

  &::before {
    position: absolute;
    left: 0;
    top: -6px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }

  &::after {
    position: absolute;
    left: 0;
    top: 6px;
    content: '';
    width: 30px;
    height: 4px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
}

.menu-icon-active {
  background-color: transparent;

  &::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }

  &::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
}

.header-text__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: $primary-font-title;
  font-weight: 700;
  font-size: 35px;
  color: $primary-bgcolor;
}

.header-text__wrapper {
  width: 280px;
  height: 56px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 1px;
  padding-left: 14px;
  background-image: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6));
}

.header-text__desc {
  margin: 0;
  font-family: $primary-font-text;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $primary-bgcolor;

  &--orange {
    color: $accent-color;
  }
}

.hero-section__button {
  all: unset;
  width: 12px;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

.hero-section__button {
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 694px) {
  .header-text {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
  }

  .nav-wrapper {
    padding-top: 20px;
  }

  .hero-section__button {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 695px) and (max-width: 1299px) {
  .hero-section {
    height: 600px;
    padding-top: 28px;
    padding-bottom: 102px;
    background: center / cover no-repeat url(../images/header/banner_tablet.jpg);
  }

  .nav__list--popup {
    height: 600px;
  }

  .header-text {
    position: absolute;
    bottom: 0;
    margin-bottom: 130px;
  }

  .header-text__wrapper {
    width: 500px;
    height: 120px;
    padding-top: 22px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 42px;
  }

  .header-text__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 55px;
  }

  .header-text__desc {
    position: relative;
    font-size: 22px;
    font-weight: 400;

    &::before {
      position: absolute;
      content: '';
      margin: 0;
      margin-right: 24px;
      background: center / cover no-repeat url(../images/header/horizontal_line.svg);
      width: 2px;
      height: 64px;

      left: -15px;
    }
  }

  .hero-section__button {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1300px) {
  .hero-section {
    height: 968px;
    padding-top: 30px;
    padding-bottom: 124px;
    background: center / cover no-repeat url(../images/header/banner_desktop.jpg);
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .menu-icon-wrapper {
    display: none;
  }

  .text-wrapper {
    margin-right: auto;
  }

  .header-text {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 124px;

  }

  .header-text__wrapper {
    width: 520px;
    height: 126px;
    padding-top: 22px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 42px;
  }

  .header-text__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 65px;
  }

  .bg-img {
    position: relative;

    &::before {
      position: absolute;
      content: '';
      margin: 0;
      margin-right: 24px;
      background: center / cover no-repeat url(../images/header/horizontal_line.svg);
      width: 2px;
      height: 64px;
      left: -15px;
    }
  }

  .header-text__desc {

    font-size: 24px;
    font-weight: 400;


  }

  .hero-section__button {
    margin-bottom: 80px;
    transform: translate3d(0, 0, 0) scale(1);
    transition: transform 300ms ease;

    &:hover,
    &:focus {
      transform: translate3d(0, 10px, 0) scale(1.1);
    }
  }
}
