.hero {
  position: relative;
  height: 560px;
  background-color: #824fe3;
  background: center / cover no-repeat url(../images/header/banner_mobile.jpg);
  overflow: hidden;
}

.hero-text {
  position: absolute;
  left: 50%;
  bottom: 0;
  margin-bottom: 130px;
  transform: translate(-50%);
}

.hero-text__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: $primary-font-title;
  font-weight: 700;
  font-size: 35px;
  color: $primary-bgcolor;
}

.hero-text__wrapper {
  width: 280px;
  height: 56px;
  padding-top: 6px;
  padding-right: 14px;
  padding-bottom: 1px;
  padding-left: 14px;
  background-image: linear-gradient(to bottom right,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6));
}

.hero-text__desc {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $primary-bgcolor;

  &--orange {
    color: $accent-color;
  }
}

.hero__button {
  all: unset;
  width: 12px;
  height: 20px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  cursor: pointer;
}

.hero__button {
  transform: translate3d(0, 0, 0) scale(1);
  transition: transform 300ms ease;

  &:hover {
    transform: translate3d(0, 10px, 0) scale(1.1);
  }
}

@media screen and (min-width: 320px) and (max-width: 694px) {
  .hero__button {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 695px) and (max-width: 1199px) {
  .hero {
    height: 600px;
    background: center / cover no-repeat url(../images/header/banner_tablet.jpg);
  }

  .hero-text__wrapper {
    width: 500px;
    height: 120px;
    padding-top: 22px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 42px;
  }

  .hero-text__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 55px;
  }

  .hero-text__desc {
    position: relative;
    font-size: 22px;
    font-weight: 400;

    &::before {
      position: absolute;
      content: '';
      margin: 0;
      margin-right: 24px;
      background: center / cover no-repeat url(../images/header/horizontal_line.svg);
      width: 2px;
      height: 64px;

      left: -15px;
    }
  }

  .hero__button {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 968px;
    background: center / cover no-repeat url(../images/header/banner_desktop.jpg);
  }

  .hero-text {
    left: 30%;
    margin-bottom: 124px;
  }

  .hero-text__wrapper {
    width: 520px;
    height: 126px;
    padding-top: 22px;
    padding-right: 32px;
    padding-bottom: 20px;
    padding-left: 42px;
  }

  .hero-text__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 65px;
  }

  .hero-text__desc {
    position: relative;
    font-size: 24px;
    font-weight: 400;

    &::before {
      position: absolute;
      content: '';
      margin: 0;
      margin-right: 24px;
      background: center / cover no-repeat url(../images/header/horizontal_line.svg);
      width: 2px;
      height: 64px;
      left: -15px;
    }
  }

  .hero__button {
    margin-bottom: 80px;
  }
}
