.overlay-icon {
  display: flex;
  margin-bottom: 36px;
  width: 80px;
  height: 80px;
  align-items: center;
  border-radius: 50%;
  justify-content: center;

  &--orange {
    background-color: #e9ac3833;
  }

  &--red {
    background-color: #de643633;
  }

  &--purple {
    background-color: #754fde33;
  }

  &--green {
    background-color: #60a99e33;
  }
}

.how-we__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding-left: 0;
  padding-bottom: 58px;
}

@media screen and (max-width: 694px) {
  .overlay-icon {
    margin-bottom: 17px;
    width: 55px;
    height: 55px;
  }
}

.how-we__discription {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  font-family: $primary-font-text;
}

.how-we__item {
  padding-bottom: 27px;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.how-we__list {
  padding-left: 44px;
  padding-bottom: 58px;
}

@media screen and (min-width: 695px) and (max-width: 1299px) {
  .overlay-icon {
    margin-bottom: 21px;
  }

  .how-we__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-we__item {
    max-width: 212px;
    margin-right: 80px;
    padding-bottom: 37px;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 1300px) {
  .how-we-study {
    // background-image: url(../images/backgorund-section.png);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #fafafa;
    // min-height: 771px;
  }

  .how-we__list {
    margin: 0;
    padding: 0;
  }

  .how-we__item {
    width: 240px;
    margin-right: 20px;
    border-left: dashed 1px #e3e3e4;
  }
}
