.study__list {
  display: flex;
  flex-wrap: wrap;

}

.study__item {
  display: flex;
  width: 290px;
  min-height: 293px;
  border-radius: 0 22px 0 22px;

  &:nth-of-type(1) {
    background-color: rgb(250, 235, 208);
  }

  &:nth-of-type(1):hover {
    background-color: rgba(250, 235, 208, 0.3);
  }

  &:nth-of-type(2) {
    background-color: rgb(255, 221, 211);
  }

  &:nth-of-type(2):hover {
    background-color: rgba(255, 221, 211, 0.3);
  }

  &:nth-of-type(3) {
    background-color: rgb(231, 217, 246);
  }

  &:nth-of-type(3):hover {
    background-color: rgba(231, 217, 246, 0.3);
  }

  &:nth-of-type(4) {
    background-color: rgb(186, 235, 233);
  }

  &:nth-of-type(4):hover {
    background-color: rgba(186, 235, 233, 0.3);
  }

  &:hover {
    cursor: pointer;
  }
}

.study__discription-decoration {
  margin: 18px;
  width: 264px;
  min-height: 259px;
  border: 1px dashed rgb(255, 255, 255);
  border-radius: 0 22px 0 22px;
}

.study__title-discription {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-size: 30px;
  font-weight: bold;
  font-family: $primary-font-text;

  &::before {
    counter-increment: section;
    content: counters(section, '.') '. ';
  }
}

.study__discription {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-size: 16px;
  font-family: $primary-font-text;
  font-weight: 400;
  color: $primary-text-color;
}

@media screen and (max-width: 694px) {
  .study__list {
    padding-bottom: 59px;
  }

  .study__item {
    width: 280px;
    min-height: 260px;
    margin-bottom: 14px;
    box-shadow: 1.5px 2.598px 8px 0px rgba(0, 0, 0, 0.1);
  }

  .study__discription-decoration {
    width: 245px;
    min-height: 225px;
    padding-left: 27px;
  }

  .study__title-discription {
    padding-top: 36px;
    padding-bottom: 27px;
    font-size: 25px;
  }
}

@media screen and (min-width: 695px) and (max-width: 1299px) {
  .study__list {
    padding-bottom: 75px;
  }

  .study__item {
    margin-right: 20px;
    margin-bottom: 23px;
    box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);

    &:last-of-type {
      margin-bottom: 0;
    }

    &:nth-of-type(even) {
      margin-right: 0;
    }

    &:nth-of-type(3n) {
      margin-bottom: 0;
    }
  }

  .study__discription-decoration {
    padding-left: 20px;
  }

  .study__title-discription {
    padding-top: 46px;
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 1300px) {
  .study__list {
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-bottom: 155px;
  }

  .study__item {
    margin-right: 30px;
    flex-wrap: nowrap;
    box-shadow: 3px 5.196px 18px 0px rgba(0, 0, 0, 0.1);

    &:last-of-type {
      margin-right: 0;
    }
  }

  .study__discription-decoration {
    padding-left: 22px;
  }

  .study__title-discription {
    padding-top: 51px;
    padding-bottom: 25px;
  }

  .study__discription {
    font-size: 18px;
    line-height: 1.5;
  }
}
