.title {
  font-family: $primary-font-title;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: $primary-title-color;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
