// SECTION DESC
.desc__title {
  font-family: $primary-font-text;
  font-size: 14px;
  line-height: 20px;
  color: $primary-text-color;
}

.desc__text {
  background-color: #824fe3;
  font-family: $primary-font-text;
  font-size: 18px;
  line-height: 24px;
  color: $nav-text-color;
}
